.pio
.clang_complete
.gcc-flags.json
*Thumbs.db
/data
/data/www
/interface/build
/interface/node_modules
/interface/.eslintcache
.vscode
node_modules
/releases
/src/certs
/temp
/build
/lib/framework/WWWData.h
*WWWData.h
lib/framework/WWWData.h
ssl_certs/cacert.pem
/logs
.aid
sdkconfig
.venv
compile_commands.json

# pioarduino Hybrid Compile feature
.dummy
managed_components
dependencies.lock
sdkconfig*
CMakeLists.txt
src/CMakeLists.txt